In [1]:
import pandas as pd 
import numpy as np 

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import seaborn as sns

In [2]:
df = pd.read_csv(r'c:\Users\singh\Downloads\train.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [3]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [4]:
df.dropna(inplace = True)

In [5]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [6]:
x = df.iloc[:,0:4]
y = df.iloc[:,-1]

In [7]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy' , cv= 20))

np.float64(0.6933333333333332)

#APPLYING FEATURE CONSTRUCTION

In [8]:
x['family_size'] = x['SibSp']+x['Parch']+1
x.head()

    Age  Pclass  SibSp  Parch  family_size
0  22.0       3      1      0            2
1  38.0       1      1      0            2
2  26.0       3      0      0            1
3  35.0       1      1      0            2
4  35.0       3      0      0            1

In [9]:
def myfunc(num):
    if num == 1:
        return 0 #alone
    elif num >1 and num<= 4:
        return 1 #small family
    else:
        return 2 #joint family

In [10]:
myfunc(4)

1

In [11]:
x['family_type']=x['family_size'].apply(myfunc)

In [12]:
x.head()

    Age  Pclass  SibSp  Parch  family_size  family_type
0  22.0       3      1      0            2            1
1  38.0       1      1      0            2            1
2  26.0       3      0      0            1            0
3  35.0       1      1      0            2            1
4  35.0       3      0      0            1            0

In [13]:
x.drop(columns=['SibSp','Parch','family_size'],inplace=True)
x.head()

    Age  Pclass  family_type
0  22.0       3            1
1  38.0       1            1
2  26.0       3            0
3  35.0       1            1
4  35.0       3            0

In [14]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv =20))

np.float64(0.7003174603174602)